body{
    font-size: 100px ;
    background-color: #383d4f;
    font-family: Arial, Helvetica, sans-serif ; color: white;
}
#DealerCardsDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#PlayerCardsDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input[type="button"]{
    width: 1000px;
    height: 300px;
    font-size: 100px;
}
input[type="number"]{
    width: 300px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif; color: white;
    background-color: #07133b;
    border: 12px solid;
    border-color: #000000;
    
}
#Result{
    font-size: 100px;
    color: white;
}